.nav-container {
  background-color: #4b7f46;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container .logo {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-container .logo:hover {
  color: #b7d8b8;
  transition: all 0.3s ease;
}

.nav-container .nav-links ul {
  display: flex;
  list-style: none;
}

.nav-container .nav-links ul li {
  margin-right: 10px;
}

.nav-container .nav-links li a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-container .nav-links li a:hover {
  color: #b7d8b8;
  transition: color 0.3s ease;
}
